<div class="">
  <% @tweets.each do |tweet| %>
    <div class="card">
      <h3><%= tweet.user.name %></h3>
      <h4><%= tweet.user.username %></h4>
      <p><%= tweet.body %></p>
      <%= link_to  "Show", tweet %>
      <%= link_to  "Edit", edit_tweet_path(tweet), method: :get  %>
      <%= link_to  "Destroy", tweet_path(tweet), method: :delete %>
    </div>
  <% end %>
</div>
